body {
      border: 2px solid green;
      padding: 25px;
      margin: 25px;
}
h1 {
    border: 2px grey;
    padding: 30px;
    margin: 3px;
    text-align: center;
}
#gif {
      max-width: 100%;
      height: auto;
}
